@use '../models/index';
@use 'sass:map';


.header{
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding-bottom: 24px;
  background: {
    image: linear-gradient(#1f293786,#1f293786 ), url('../assets/img/imagenes/img-11.jpg');
    size: cover;
    position: left;
    repeat: no-repeat;
  }
  //border: 1px solid black;
  &__menu-navegacion{
    //border: 1px solid red;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    @include index.media(tablet){
      
    }
  }
  &__container-nav{
    //border: 1px solid violet;
    width: 80%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include index.media(tablet){
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      gap: 18px;
    }
  }

  &__logo{
    //border: 1px solid white;
    height: 100%;
    display: flex;
    align-items: center;
    a{
      @extend %LogoTipo;
      font-size: 16px;
    }
    span:first-child{
      color: #e7e7e9;
    }
    span{
      color: #c4cbdd;
    }
    span:last-child{
      color: #a7afbc;
    }
  }
  &__btn-hamburguer{
    width: 30px;
    height: 40px;
    position: relative;
    top: 0;
    z-index: 1011;
    //border: 1px solid violet;   
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    span{
      width: 100%;
      border-radius: 5px;
      height: 5px;
      background-color: map.get(index.$modo-oscuro, 'texto-primario');
      border-radius: 6px;
      display: block;
    } 
    @include index.media(tablet){
      display: none;
    }
  }
  &__menu-lista{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1010;
    transform: translateX(-102%);
    width: 100%;
    height: 100%;
    background-color: #1f2937dc;
    
    //border: 1px solid red;
    @include index.media(tablet){
      position: static;
      top: 0;
      transform: translate(0);
      //border: 1px solid red;
      background: none;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    
    ul {
      //border: 1px solid black;
      background-color: map.get(index.$modo-oscuro, 'bg-primario');
      //border-right: 5px solid black;
      height: 100%;
      width: 70%;
      max-width: 280px;
      padding: 0 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: start;
      list-style: none;
      @include index.media(tablet){
          flex-direction: row;
          max-width: inherit;
          padding: 0;
          background: none;
          width: initial;
          height: 50%;
          border: none;
          gap: 24px;
      }
      
    
      li {
        display: inline-flex;
        width: 100%;
        align-items: center;
        gap: 10px;
        //border: 1px solid violet;
        @include index.media(tablet){
          height: 100%;
          //border: 1px solid red;
          gap: 6px;
          margin: 0;
          width: initial;
        }
        i{
          display: inline-block;
          //border: 1px solid yellow;
          font-size: 20px;
          color: #c4cbdd;
        }
        a{
          text-decoration: none;
          text-transform: capitalize;
          line-height: 40px;
          color: map.get(index.$modo-oscuro, 'texto-primario');
          font-family: sans-serif;
          font-size: 16px;
          //border: 1px solid green;
        }
      }
    }
  }
}


.contenido-header {
  //border: 1px solid green;
  padding-bottom: 50px;
  display: flex;
  justify-content: start;
  font-family: sans-serif;
  &__descripcion {
    //border: 1px solid pink;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include index.media(tablet){
      width: 80%;
    }
    h1{
      @extend %h1;
      font-size: 36px;
      padding: 0;
      span:first-child{
        color: #e7e7e9;
      }
      span:last-child{
        color: #a7afbc;
      }
    }
    p {
      @extend %pUno;
      text-transform: capitalize;
      line-height: 24px;
      font-size: 18px;
      @include index.media(tablet){
      width: 600px;
    }
    }
    .contenido-header__btn {
      width: fit-content;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      //border: 1px solid red;
      a,i{
        display: inline-block;
        color: #a7afbc;
        font-size: 16px;
        text-transform: capitalize;
      }
      i{
        font-size: 24px;
      }
    }
    ul {
      padding: 0;
      list-style: none;
      display: flex;
      gap: 20px;
    }
    li{
      &:last-child{
        margin-right: 0;
      }
      a{
        color: #c4cbdd;
        font-size: 20px;
      }
    }
  }
  

}




