@use '../models/index';
@use 'sass:map';

.welcome{
  padding-bottom: 100px;
  text-align: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //border: 1px solid black;
  &__img-position{
    //border: 1px solid red;
    text-align: center;
    width: 100%;
    img{
      //width: clamp(12px, 120px, 340px);
      //height: clamp(12px, 120px, 340px);
      width: 200px;
      height: 200px;
      border: 1px solid green;
      border-radius: 50%;
      border: 5px solid #4B5563;
      object-fit: cover;
      position: relative;
      top: -70px;
      @include index.media(tablet){
        width: 300px;
        height: 300px;
      }
    }
  }

  &__text-contain{
    //border: 1px solid red;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    ul{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 4px;
      list-style: none;
      padding: none;
      margin: none;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 18px;
      //border: 1px solid blue;
      li{
        //border: 1px solid black;
        padding: 8px 0;
        font-size: 1em;
        &:nth-child(1){
          color: #f3f4f6;
          text-transform: capitalize;
        }
        &:nth-child(2){
          color: #d1d5db;
          font-weight: 100;
          font-style: italic;
          font-size: .8em;
          padding-top: 0;
        }
        &:nth-child(3){
          color: #9CA3AF;
          font-weight: 100;
          font-size: 1em;
        }
        &:nth-child(4){
          color: #9CA3AF;
          font-size: 1.2em;
          text-transform: capitalize;
          font-weight: 800;
        }
        &:nth-child(5){
          a{
            color: #4b5563;
            text-decoration: none;
            font-size: .8em;
            text-transform: capitalize;
            font-weight: 300;
            
          }
        }
      }
    }
  }
  
  &__img-animation{
    //border: 1px solid red;
    img{
      //border: 1px solid black;
      max-width: 300px;
      max-height: 300px;
      object-fit: cover;

    }
  }


 
    
}