@use '../models/index';
@use 'sass:map';

.welcome{
  padding-bottom: 100px;
  text-align: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //border: 1px solid black;
  &__img-position{
    //border: 1px solid red;
    text-align: center;
    width: 100%;
    img{
      //width: clamp(12px, 120px, 340px);
      //height: clamp(12px, 120px, 340px);
      width: 200px;
      height: 200px;
      border: 1px solid green;
      border-radius: 50%;
      border: 5px solid #4B5563;
      object-fit: cover;
      position: relative;
      top: -70px;
      @include index.media(tablet){
        width: 300px;
        height: 300px;
      }
    }
    
  }
  &__container{
    //border: 1px solid black;
    padding-top: 80px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    h2 {
      color: #f3f4f6;
      font-size: 2em;
      text-transform: capitalize;

    }
    h3{
      font-size: 1.2em;
      font-weight: 500;
      padding: 4px 0;
      color: #d1d5db;
    }
    p{
      font-size: 1.3em;
      padding-top: 8px;
      color: #d1d5db;
    }
    a{
      display: inline-block;
      text-decoration: none;
      color: #d1d5db;
      padding-top: 32px;
      font-size: 1.1em;
      color: #4B5563;
    }
  }
  &__prf-one{
    font-size: 1.5em;
    text-transform: capitalize;
    font-weight: 600;
    padding: 12px 0;
    color: #4B5563;


  
  } 
    
}