@use '../models/index';
@use 'sass:map';

.welcome{
  padding-bottom: 100px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //border: 1px solid black;
  &__img-position{
    //border: 1px solid red;
    text-align: center;
    width: 100%;
    img{
      //width: clamp(12px, 120px, 340px);
      //height: clamp(12px, 120px, 340px);
      width: 200px;
      height: 200px;
      border: 1px solid green;
      border-radius: 50%;
      border: 5px solid #4B5563;
      object-fit: cover;
      position: relative;
      top: -70px;
      @include index.media(tablet){
        width: 300px;
        height: 300px;
      }
    }
  }
  &__container {
    width: 100%;
    @include index.media(tablet){
      display: flex;
      justify-content: space-between;
      align-items: center;
      //border: 1px solid black;
      gap: 10px;
      }
    

  }

  &__text-contain{
    //border: 1px solid red;
    
    @include index.media(tablet){
      max-width: 60%;
      }
    ul{
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 4px;
      list-style: none;
      padding: none;
      margin: none;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 18px;
      //border: 1px solid blue;
      li{
        //border: 1px solid black;
        padding: 8px 0;
        font-size: 1em;
        &:nth-child(1){
          color: #f3f4f6;
          text-transform: uppercase;
          font-size: 1.3em;

        }
        &:nth-child(2){
          color: #d1d5db;
          font-weight: 100;
          font-style: italic;
          font-size: 1em;
          padding-top: 0;
        }
        &:nth-child(3){
            color: #9CA3AF;
            font-weight: 100;
            font-size: 1.056em;
            line-height: 1.6;
            p{
              margin-bottom: 12px;
            }
        }
        &:nth-child(4){
          a{
            color: #4b5563;
            text-decoration: none;
            font-size: .9em;
            text-transform: capitalize;
            font-weight: 300;
            
          }
        }
      }
    }
  }
  
  &__img-animation{
    text-align: center;
    //border: 1px solid green;
    @include index.media(tablet){
      max-width: 40%;
      }
    
    //border: 1px solid red;
    img{
      //border: 1px solid black;
      max-width: 400px;
      max-height: 400px;
      object-fit: cover;
    }
  }


 
    
}